@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;

}
