
.notice__container{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;

    &--left{
        display: flex;
    }

    &--right{
        display: flex;
    }

    &:hover{
        background-color: #fafafa;
    }
}

.notice__title{
    color: #333;
    margin-right: 10px;
}

.notice__author{
    color: #999;
}
.notice__hour{
    margin-right: 60px;
}
.fas{
    opacity: 0;
}
.notice__container:hover .fas{
    opacity: 1;
}

.notice__icon:hover{
    cursor: pointer;
}

.notice__link, .notice__link:visited, .notice__link:active, .notice__link:link{
    text-decoration: none;
    color: inherit;
}

.notice__link--disabled{
    cursor: not-allowed;
    pointer-events: none;
}