.header{
    background-color: #333;
    height: 30vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.header__title{
    font-size: 80px;
}

.header__paragraph{
    font-size: 35px;
}

.information__paragraph{
    text-align: center;
    line-height: 70vh;
    font-size: 50px;
}