.modal__container{
    width: 600px;
    height: 300px;
    background-color: #fafafa;
    position: fixed;
    border: 4px solid #696969;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}

.modal__title{
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid #a8a8a8;
}

.modal__paragraph{
    font-size: 28px;
    text-align: center;
    margin-top: 5px;
}

.modal__options{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.modal__button{
    height: 60px;
    width: 200px;
    color: white;
    border:none;
    font-size: 20px;
    border-radius: 10px;
    transition: transform .2s ease;

    &-confirm{
        background-color: green;
    }

    &-cancel{
        background-color: red;
    }

    &:hover{
        cursor: pointer;
    }

    &:active{
        transform: scale(.9);
    }
}